// menus.scss

ul.main-menu {
	text-align: center;
	display: inline-block;
	position: relative;
	left: 50%;
	@include transform(translateX(-50%));
	top: 5vh;
	
	&:before {
		content: '';
		width: 95%;
		height: 115%;
		background-color: $black;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		z-index: -1;
	}
	
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 .5vw;
		
		a {
			display: block;
			@include radial-gradient(rgba($md-blue,.85),rgba($lt-blue-2,.85));
			border: 1px solid $lt-blue;
			@include border-radius($border-radius);
			padding: 2em;
			//width: 18vw;
			color: $white;
			
			img {
				display: block;
				height: 3em;
				width: auto;
				margin: 0 auto .5em auto;
			}
			
			&:not(.disabled):hover {
				filter: drop-shadow(0 0 5px rgba($lt-blue,1));
			}
			
			&.disabled:before {
				content: 'No content is \A currently available';
				white-space: pre-wrap;
				display: none;
				position: absolute;
				top: -3vh;
				right: -5vw;
				background-color: rgba($white,1);
				z-index: 999;
				color: $dk-blue;
				@include border-radius($border-radius);
				padding: 1em;
				text-align: center;
			}
			
			&.disabled:hover:before {
				display: block;
			}
		}
	}
}

ul.sub-menu {
	text-align: center;
	display: inline-block;
	position: relative;
	left: 50%;
	@include transform(translateX(-50%));
	top: 5vh;
	
	&:before {
		content: '';
		width: 95%;
		height: 115%;
		background-color: $black;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		z-index: -1;
	}
	
	li {
		display: block;
		margin: 1vh 0;
		
		a {
			display: block;
			@include radial-gradient(rgba($md-blue,.85),rgba($lt-blue-2,.85));
			border: 1px solid $lt-blue;
			@include border-radius($border-radius);
			padding: 1em 2em;
			color: $white;
			
			img,
			span {
				display: inline-block;
				vertical-align: middle;
			}
			
			img {
				display: inline-block;
				height: 2em;
				width: auto;
				margin: 0 1em 0 0;
			}
			
			span {
				text-align: left;
			}
			
			&:not(.disabled):hover {
				filter: drop-shadow(0 0 5px rgba($lt-blue,1));
			}
			
			&.disabled:before {
				content: 'No content is \A currently available';
				white-space: pre-wrap;
				display: none;
				position: absolute;
				top: -3vh;
				right: -5vw;
				background-color: rgba($white,1);
				z-index: 999;
				color: $dk-blue;
				@include border-radius($border-radius);
				padding: 1em;
				text-align: center;
			}
			
			&.disabled:hover:before {
				display: block;
			}
		}
	}
}

.header-menu {
	display: inline-block;
	position: absolute;
	top: 12vh;
	right: -100%;
	background-color: $md-blue;
	border: 1px solid $lt-blue;
	@include border-radius($border-radius);
	transition: right .5s;
	padding-left: 1em;
	text-align: left;	
	
	&.active {
		right: $margin;
	}
}

ul#account-menu {
	li {
		display: block;
		
		a {
			display: block;
			line-height: 1;
			padding: 1em 1em 1em 0;
			
			&:not(.disabled):hover {
				text-shadow: 0 0 5px rgba($lt-blue,1);
			}
		}
		
		&:not(:last-of-type) a {
			border-bottom: 1px solid $lt-blue;
		}
	}
}

div#profile-quick-view {
	a.menu-close {
		position: absolute;
		top: 1em;
		right: 1em;
		
		&:not(.disabled):hover {
			filter: drop-shadow(0 0 5px rgba($lt-blue,1));
		}
		
		img {
			height: .7em;
		}
	}
	
	h1 {
		padding: 1em 1em 1em 0;
	}
	
	h1,
	ul:not(:last-of-type) {
		border-bottom: 1px solid $lt-blue;
	}
	
	ul.profile-info li {
		color: $lt-blue;
		padding: 1em 1em 1em 0;
		
		span {
			display: block;
			margin-left: 1em;
			font-size: .85rem;
			color: $white;
		}
	}
	
	ul.buttons {
		padding: 1rem 1rem 1rem 0;
		display: flex;
		justify-content: space-evenly;
		align-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;

		li {
			font-size: 1rem;
			display: inline-block;
			vertical-align: top;
			
			a {
				display: block;
				@include radial-gradient(rgb(185,206,214),$lt-blue-2);
				border: 1px solid $white;
				color: $md-blue;
				@include border-radius($border-radius);
				padding: .5em 1em;
				font-size: .7rem;
				
				&:not(.disabled):hover {
					filter: drop-shadow(0 0 5px rgba($lt-blue,1));
				}
			}
		}
	}
}

